<header class="header flex">
  <div class="f2"></div>
  <div class="tab active f1">My task</div>
  <div class="tab f1">in Porgress</div>
  <div class="tab f1">Completed</div>
  <div class="f2"></div>
</header>

<section class="flex main">
  <div class="f1"></div>
  <div class="f2 list">
    <div class="card">
      <input type="text" name="" id="" class="addTask" placeholder=" + add task" (focus)="isExtend=true" [hidden]="isExtend">
      <app-task title="Type something here...." dueDate="" [isStar]="false" [isDone]="false" [isEdit]="true" [hidden]="!isExtend"></app-task>
    </div>

    <ng-template ngFor [ngForOf]="taskList" let-item let-i="index">
      <app-task [title]="item.title" [isStar]="item.isStar" [isDone]="item.isDone" [dueDate]="item.dueDate"></app-task>
    </ng-template>


  </div>
  <div class="f1"></div>
</section>