.header {
  width: 100%;
  background: #4a90e2;
  display: flex;
  justify-content: space-evenly;
  padding: 0rem 3rem;
  .tab {
    text-align: center;
    padding: 1rem 0rem;
    color: #00408b;
    border-bottom: 3px solid #4a90e2;
    &.active {
      border-bottom: 3px solid #00408b;
      color: white;
    }
  }
}

.main {
  background: #aaa;
  min-height: 100vh;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  .card {
    width: 100%;
    .addTask {
      // border: 1px solid #ccc;
      // border-radius: 3px;
      color: #ccc;
      width: 100%;
      padding: .6rem;
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }
  }
}