<header class="header flex">
  <div class="f2"></div>
  <div class="tab active f1">My task</div>
  <div class="tab f1">in Porgress</div>
  <div class="tab f1">Completed</div>
  <div class="f2"></div>
</header>

<section class="flex">
  <div class="f1"></div>
  <div class="f2 list">
    <div class="card">
      <input type="text" name="" id="" class="addTask" placeholder=" + add task">
    </div>
    <div class="task">
      <div class="check">
        <label for="c1">
          <input type="checkbox" name="c1" id="">
          <span> </span>
        </label>
      </div>
      <div class="info f2">
        <div class="title">Type something here....</div>
        <div class="date">
          <i class="fas fa-calendar-alt"></i>5/14</div>
      </div>
      <div class="edit f1">
        <i class="fas fa-star"></i>
        <i class="fas fa-edit"></i>
      </div>
    </div>
    <div class="task star">
      <div class="check">
        <label for="c1">
          <input type="checkbox" name="c1" id="">
          <span> </span>
        </label>
      </div>
      <div class="info f2">
        <div class="title">Type something here....</div>
        <div class="date">
          <i class="fas fa-calendar-alt"></i>5/14</div>
      </div>
      <div class="edit f1">
        <i class="fas fa-star"></i>
        <i class="fas fa-edit"></i>
      </div>
    </div>
    <div class="task complete">
      <div class="check">
        <label for="c1">
          <input type="checkbox" name="c1" id="" checked>
          <span> </span>
        </label>
      </div>
      <div class="info f2">
        <div class="title">Type something here....</div>
        <div class="date">
          <i class="fas fa-calendar-alt"></i>5/14</div>
      </div>
      <div class="edit f1">
        <i class="fas fa-star"></i>
        <i class="fas fa-edit"></i>
      </div>
    </div>
  </div>
  <div class="f1"></div>
</section>