/* You can add global styles to this file, and also import other style files */

body,
html,
p,
div {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

* {
  box-sizing: border-box;
}

.flex,
.f {
  display: flex;
}

.f-r {
  flex-direction: row;
}

.f-c {
  flex-direction: column;
}

.f1 {
  flex: 1;
}

.f2 {
  flex: 2;
}